body {
}
.nav-link-container {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 100px;
  padding: 0px;
}

.nav-link-container a {
  text-decoration: none;
  color: #cfac6b;
  font-size: 30px;
}
.spacing-words {
  margin-top: 75px;
}
.img-logo {
  margin-top: 20px;
  height: 200px;
  border-radius: 50px;
}

a:hover {
  color: black;
}
nav ul li a.active {
  background-color: peachpuff;
}
