body {
  margin-top: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.profile-pic {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  border: 4px solid peachpuff;
  border-radius: 50%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.packages-card {
  display: grid;
  background-color: antiquewhite;
  padding: 50px;
}
.profile {
  padding-top: 50px;
  display: grid;
  place-content: center;
}
h3 {
  display: grid;
  text-align: center;
}
.past {
  margin-top: 100px;
}
.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
