body {
  font-family: "Noto Sans Georgian", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.venues {
  margin-top: 100px;
  height: 100px;
  max-width: 50px;
  transition: 4s all;
}
.card-img-top:hover {
  transform: scale(1.15);
  border-style: solid;
  border-color: plum;
}
h2,
h3 {
  margin-bottom: 20px;
}
.banner {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  justify-items: center;
}
.card {
  width: 50rem;
  margin-top: 50px;
}
