body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}
h1 {
  padding-bottom: 5px;
}
.card-body {
  background-color: rgb(239, 207, 212, 0.5);
  padding-top: 20px;
}
.card-group {
  width: 75%;
  justify-content: center;
  border: #ecbfd0 solid;
  border-radius: 5px;
}
.reviews-container {
  display: grid;
  justify-content: center;
  padding-left: 300px;
}
h5 {
  font-size: 15px;
}
.card-text {
  font-size: 13px;
}
