<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      h3 {
        width: 600px;
      }
      .about-card {
        display: flex;
        flex-wrap: wrap;
        gap: 400px;
        margin-bottom: 200px;
      }
      body {
        margin: 0;
        min-height: 100vh;
        display: grid;
        place-content: center;
      }
      img {
        height: 350px;
        width: 350px;
      }
      h1 {
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <div class="about-card">
      <div>
        <h1>Our Story</h1>
        <h3>
          In 2025, Anita Chivizhe and Diyali Devraj, best friends, partnered up
          to secure couple’s “Happily Ever Afters” on their wedding day. Having
          witnessed many challenging moments on couples’ wedding days, Diyali
          and Anita co-founded “Promise Protectors”
        </h3>
      </div>
      <div>
        <img
          src="https://i.pinimg.com/originals/2e/e3/e6/2ee3e6df94e4f7cb3e719c440a122fbe.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="about-card">
      <div>
        <h1>About Promise Protectors</h1>
        <h3>
          Our mission, to safeguard the joy and dreams of every couple on their
          special day. We understand that weddings are not just events; they are
          cherished moments filled with love, hope, and commitment. Our
          dedicated team is committed to providing tailor-made cover specific to
          your wedding dream.
        </h3>
      </div>
      <div>
        <img
          src="https://img.freepik.com/premium-vector/elegant-wedding-couple_951778-10312.jpg"
          alt=""
        />
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
