{% extends "base.html" %} {% set active_page = '/contact-us' %} {% block title %}Contact Us{% endblock %} {% block head_content %}
    <link rel="stylesheet" href="/static/css/contact.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    {% endblock %} {% block content %}
  </head>
    <body>
    <div class="main-container">
    <h3>CONTACT US</h3>
    <p>
      Take a deep breath, we are here to ease your wedding worries. Please feel
      free to complete and submit the form with your details and we will get
      back to you within 3 working days.
    </p>
    <form class="form-container">
      <div class="form-element">
        <label for="name">Name </label>
        <input type="text" placeholder="Lana Lang" id="name" required minlength="6"/>
      </div>
      <div class="form-element">
        <label for="email">Email </label>
        <input
          type="email"
          placeholder="lana21@gmail.com"
          id="email"
          required
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Please enter a valid email address"
        />
      </div>
      <div class="form-element">
        <label for="contact">Contact Number </label>
        <input
          type="number"
          placeholder="0841234567"
          id="contact"
          required
          maxlength="10"
        />
      </div>
      <div class="form-element">
        <label for="message">Message </label>
        <input
          class="msg-box"
          type="text"
          placeholder="Add your message here"
          id="message"
          required
          minlength="10"
          maxlength="500"
        />
      </div>
          <h5>Alternatively, call us on <span>081 234 5678 </span></h5>
      <button class="btn btn-danger" type="submit">Submit</button>

    </form>
    </div>
  </body>
</html>
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
{% endblock %}
