{% extends "base.html" %} {% block docName %}Dashboard{% endblock %}{% block head_content %}
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    {% endblock %} {% block content %}
  </head>
  <body>
    <div class="content">
    <h3>Wedding Day Countdown: 5 days to go! 🎉</h3>
    <div class="profile">
      <h2>Hello, Lana 😊</h2>
      <img
        class="profile-pic"
        src="https://th.bing.com/th/id/OIP.xTWS6yh3vv764AW3dsSvPwAAAA?rs=1&pid=ImgDetMain
"
        alt=""
      />
    </div>
    <h3 class="past">Current Package</h3>
    <div class="packages-card">
      <h3>Package 1</h3>
    </div>
    </div>
  </body>
</html>
{% endblock %}
