<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/footer.css" />
  </head>
  <body>
    <footer class="footer-main-container">
      <div class="inner-container">
        <div class="promise-protectors">
          <img
            class="logo"
            src="/static/PROMISE PROTECTORS_20250401_114617_0000.png"
            alt=""
          />
          <small class="description">
            Promise Protectors is your trusted companion in safeguarding your
            wedding plans. We provide comprehensive wedding insurance coverage,
            giving you peace of mind and financial protection against unexpected
            events
          </small>
        </div>
        <div class="links-container">
          <h4 class="link-heading">Links</h4>
          <ul class="links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/partners">Partners</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="/contact-us">Contact Us</a>
            </li>
            <li>
              <a href="/reviews">Reviews</a>
            </li>
            <li>
              <a href="/history">History</a>
            </li>
          </ul>
        </div>
        <div>
          <form class="sign-up">
            <label for="exampleInputEmail1">Sign up for updates</label>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>

      <small class="bottom-line">✨ 2025 Promise Protectors<small/>
    </footer>
  </body>
</html>
