{% extends "base.html" %} {% set active_page = '/history' %} {% block title %}History {% endblock %}{% block head_content %}
<link rel="stylesheet" href="/static/css/new_history.css" />
    {% endblock %} {% block content %}

</head>
<body>
<div class="container">
<h1 class="container-title">Wedding Event History</h1>
<div class="container-body">

{% for wed in history %} {% if (wed.username == user.username) %}
<div class="card mb-4">
<div class="row g-0">
<div class="col-md-4">
{% for data in venue_details %} {% if wed.venue_id == data.venue_id or if %}
<div class="header1">
    <h4 class="venue-name"><i class="fa-solid fa-location-dot icon"></i> {{data.name}}</h4>

</div>
<img src="{{data.venue_image}}" class="img-fluid rounded" alt="Wedding Image">
</div>
<div class="col-md-8">
<div class="card-body">
{% endif %} {% endfor %}
<time class="card-sec-text" datetime="{{wed.wed_date}}"> <i class="fa-regular fa-calendar icon"></i> {{wed.wed_date.strftime('%d %B %Y')}}</time>
<h6 class="card-sec-text"><i class="fa-solid fa-users icon"></i><span class="fw-normal">{{wed.no_guests}}</span> Guests</h6>
<h6 class="card-sec-text"><i class="fa-solid fa-tag icon"></i><span class="price-tag">R{{wed.total_price}}</span></h6>
<small class="reference">Reference: #<span class="fw-normal">{{wed.wed_id}}</span></small>
<p class="text-body-secondary">Last updated 3 months ago</p>
</div>
</div>
</div>
</div>
{% endif %} {% endfor %}
</div>
</div>
</body>
</html>
{% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
{% endblock %}
