{% extends "base.html" %} {% set active_page = '/partners' %} {% block title %}Partners{% endblock %} {% block head_content %}

    <link rel="stylesheet" href="/static/css/partners.css" />
{% endblock %} {% block content %}
<body>

  <div class="all-partners">
      <div class="partners-section">
        <div class="partners-headers">
          <h1 class="partners-heading">Our Trusted Partners</h1>
          <p class="header-text">
            Collaborating with industry leaders to deliver exceptional services
          </p>
          </div>
          <div class="card-group">
  <div class="card">
    <img src="https://www.careersportal.co.za/sites/default/files/styles/amp_1200x675_16_9/public/bursaries/sanlam_0.jpg?itok=ONAsKSF-" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sanlam</h5>
      <p class="card-text">Sanlam Life Insurance Limited is an insurer licensed to
                    conduct life insurance business and is a licensed financial
                    services provider and a registered credit provider.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://th.bing.com/th/id/OIP.ZDeOOgURDjt1ifbX-9SqnAHaEO?w=299&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Booking.com</h5>
      <p class="card-text">Booking.com enables properties around the world to reach a
                    global audience and grow their businesses</p>
    </div>
  </div>
</div>

</body>
</html>
{% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
{% endblock %}
