{% extends "base.html" %} {% set active_page = '/partners' %} {% block title %}Partners{% endblock %} {% block head_content %}
   <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      body {
  margin: 0;
  padding-top: 10px;
    display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0px;


      }
.partners-section {
  padding: 20px;
}
.card{
  border: none;
  max-width: 500px;
}

.partners-headers h1 {
        font-size: 2.5rem;
        text-align: center;
        color: #c71585;
      }
      .header-text {
        font-size: 1.5rem;
        text-align: center;
        color:  #333333;
      }
      .col{
    max-width: 500px;
    min-height: 500px;

  }
  .col h4{
   color:  #333333;
    min-height: 45px;
    padding-bottom: 0px;
  }
  .card-img-top{
    width: 100%;
   height: 300px;
   object-fit: cover;
   object-position: center;

  }
  .card{
    margin-bottom: 2rem;
    overflow: hidden;
    height: 100%;
    color:  #333333;

  }
  .card-group{
    gap: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;

  }

    </style>
{% endblock %} {% block content %}
<body>

  <div class="all-partners">
      <div class="partners-section">
        <div class="partners-headers">
          <h1 class="partners-heading">Our Trusted Partners</h1>
          <p class="header-text">
            Collaborating with industry leaders to deliver exceptional services
          </p>
          </div>
          <div class="card-group">
  <div class="card">
    <img src="https://www.careersportal.co.za/sites/default/files/styles/amp_1200x675_16_9/public/bursaries/sanlam_0.jpg?itok=ONAsKSF-" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sanlam</h5>
      <p class="card-text">Sanlam Life Insurance Limited is an insurer licensed to
                    conduct life insurance business and is a licensed financial
                    services provider and a registered credit provider.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://th.bing.com/th/id/OIP.ZDeOOgURDjt1ifbX-9SqnAHaEO?w=299&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Booking.com</h5>
      <p class="card-text">Booking.com enables properties around the world to reach a
                    global audience and grow their businesses</p>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}
